@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
  height: 100vh;
  background-size: 100% 100%;
}

.tourism-card {
  text-align: center;
  background-color: white;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 10px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-heading {
  font-size: 30px;
  font-family: "Lobster";
}

.paragraph {
  font-size: 20px;
  font-family: "Roboto";
}

.button {
  width: 100px;
  height: 45px;
  font-size: 15px;
  background-color: #25b1cc;
  color: white;
  border-radius: 20px;
  border-width: 0px;
}


@media screen and (min-width:768px) and (max-width: 992px){
  .tourism-card {
    height: 25vh;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  .main-heading {
    font-size: 80px;
    font-family: "Lobster";
  }

  .paragraph {
    font-size: 30px;
    font-family: "Roboto";
  }
  .button {
    width: 180px;
    height: 40px;
    font-size: 25px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width:1024px){
  .tourism-card {
    height: 25vh;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  .main-heading {
    font-size: 80px;
    font-family: "Lobster";
  }

  .paragraph {
    font-size: 25px;
    font-family: "Roboto";
  }
  .button {
    width: 180px;
    height: 40px;
    font-size: 25px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
  }
}


@media screen and (min-width: 1024px){
  .tourism-card {
    height: 25vh;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  .main-heading {
    font-size: 45px;
    font-family: "Lobster";
  }

  .paragraph {
    font-size: 18px;
    font-family: "Roboto";
  }
  .button {
    width: 180px;
    height: 40px;
    font-size: 18px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
  }
}

/* favourite-places section */

.favourite-places-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
  height: 100vh;
  background-size: 100% 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favourite-places-heading {
  font-size: 30px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width:992px){
  .favourite-places-heading {
    font-size: 60px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
  }
}

@media screen and (min-width: 992px){
  .favourite-places-heading {
    font-size: 30px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
  }
}

.favourite-place-card-container {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  height: 15vh;
  background-color: #d1d1d7;
  align-items: center;
}


.favourite-place-card-container:hover {
  background-color: white;
}
.favorite-places-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 20px;
  /* background-color: green; */
}
.favourite-place-card-heading {
  color: #0f0e46;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

/* .favourite-place-card-heading:hover {
  text-decoration: underline;
} */

.favourite-place-card-container:hover .favourite-place-card-heading {
  text-decoration: underline;
}


.favourite-place-card-description {
  font-family: "Roboto";
  font-size: 11px;
  color: #6c6b70;
}
.favourite-place-card-image {
  width: 80px;
  height: 85px;
  border-radius: 8px;
}
.favourite-place-card-text-container {
  margin: 15px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .favourite-place-card-heading {
    font-size: 25px;
  }
  .favourite-place-card-description {
    font-size: 20px;
  }
  .favourite-place-card-image {
    width: 140px;
    height: 120px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .favourite-place-card-heading {
    font-size: 35px;
  }
  .favourite-place-card-description {
    font-size: 28px;
  }
  .favourite-place-card-image {
    width: 180px;
    height: 160px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .favourite-place-card-heading {
    font-size: 20px;
  }
  .favourite-place-card-description {
    font-size: 18px;
  }
  .favourite-place-card-image {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }
}

/* detailed view sections */

.detailed-view-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.detailed-view-heading {
  color: white;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: bold;
  padding: 24px;
  /* border: 2px solid red; */
  margin-bottom: 0px;
}
.detailed-view-card-container {
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 24px;
  width: 65vw;
  height: 65vh;
  border-radius: 8px;
  padding: 20px;
  overflow-y: scroll;
}
.detailed-view-card-heading {
  color: #0f0e46;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 23px;
}
.detailed-view-card-description {
  font-family: "Roboto";
  font-size: 13px;
  color: #6c6b70;
}

.detailed-view-card-text-container {
  padding: 16px;
}


.back-but {
  margin-left: 25px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.content-info-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.carousel-img-cont{
  height: 30vh;
}

@media screen and (min-width: 1024px) {
  .detailed-view-card-container {
    width: 40vw;
  }
}